 <div class="wrapper wrapper--w420">
            <div class="card card-4">
                <div class="card-body">
                    <div class="container" align="center">
                    <h2 class="title" align="center">Admin Login</h2>
                        <%= form_for(:session, url: adminlogin_path) do |form| %>
                        
                        <div style="padding: 0px;" class="container" align="center" >
                            <p><strong>Username: </strong>
                                <%= form.text_field :adminame , class: "form-container", placeholder: "Username..",style: 'width:50%;'%></p>

                            <p><strong>Password:</strong>
                                <%= form.password_field :password , class: "form-container" , placeholder: "Password..",style: 'width:50%;'%></p>
                            <center><input type="submit" value="Submit"></center>
                        </div>
                    <%end%>
                </div>
            </div>
        </div>
        <br>
    </div>

