

<br>

        <div class="wrapper wrapper--w960">
            <div class="card card-4">
                <div class="card-body">
                	<h2 class="title" align="center"><strong>Problem and Solution Stat</strong></h2>
					<table>
					  <tr>
					    <th>Number of Problems</th>
					  </tr>
						<tr>
							<td><%= @m_problems.count %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	<br>