  
  
<%= render 'flash_messages'%>


<div class="container2">
	<%= image_tag "website.png" ,{style: "width: 100%; height:87%; -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,1));"}%></a>
  <div class="centered2 fulllmatter2" align="left" ><strong>One destination for all your queries</strong></div>
  <div class="centered2 fulllmatter2" align="left" style = "transform: translate(-355%, 35%);"><strong>Team ALLY</strong></div>
</div>
<div class="container">
  <div align="center">
    <h4 align="center" style="font-weight: 500;font-size:30;">ALLY is an open community for everyone who loves to share the knowledge and can solve the problems which occurs in our dialy life.</h4>
    </div>
    <div class="row">
      <div class="columndiv7 fulllmatter">
      <h3 align="center" style="font-weight: 600">Publishers:<hr></h3>
      <h5> Publisher can post wide varities of problems related to various Engineering challenges.</h5>
    </div>
    <div class="columndiv7 fulllmatter" >
      <h3 align="center" style="font-weight: 600">Problem-Solvers:<hr></h3>
      <h5> Problem-Solvers accepts the challenges posted by the publisher and provides the solutions within certain time constraints.</h5>
    </div>
    <div class="columndiv7 fulllmatter">
      <h3 align="center" style="font-weight: 600">Subscribers:<hr></h3>
      <h5> Subscribers can view the problems and they can review the solutions posted.</h5>
    </div>
    
    </div>
    </div>
  </div>
<style>
.container2 {
	font-size: 30px;
  position: relative;
  text-align: center;
  
}

.centered2 {
  position: absolute;
  top: 50%;
  left: 50%;
  color:#f7f8f9;
  transform: translate(-120%, -70%);
}

.fulllmatter{

  border: 2px solid;
    padding: 35px;
    margin: 16px;
    border-radius: 10px;
    box-shadow: 4px 3px 3px;


}

.fulllmatter2{

  border: 0px solid;
  background-color: #7785ca;
  background-blend-mode: lighten; 
    padding: 15px;
background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));    border-radius: 19px;
    box-shadow: 1px 1px 1px;
    opacity: 0.7;
 background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));

}


</style>





