<div class="fixed">
        <div class="hero-info">
            <br>
            <br>
        <h2>Sent Requests</h2>
        <table class="table table-striped table-blue">
    <thead>
    <tr>
      <th class="text-center">#</th>
      <th class="text-center" >Problem Title</th>
      <th class="text-center">Access</th>
      
    </tr>
    </thead>

  <tbody>
    <% sno=1%>
    <% @sent_requests.each do |req|%>
    <% prob = Problem.find(req.problem_id) %>
    <tr>
      <th scope="row"><%= sno %></th>
      <td align="center"><%= link_to prob.prob_title, view_problem_path(prob) %></td>

      <td align="center"> <% if req.grant_access %>
        GRANTED
        <% else %>
        NOT GRANTED YET
        <% end %>
      </td>
      
    </tr>
    <% sno=sno+1 %>
    <%end%>
</tbody>
</table>
<div>
        
        </div>
        </div>
        </div>