<div class="carduser">
  <img src="assets/p.png" alt="Avatar" style="width:100%">
  <div class="containercard">
    <h4><b><% @users.each do |user| %>
    	<%= user.username %>
    	<% end %>
    </b></h4> 
    <p>Architect & Engineer</p> 
  </div>
</div>